{% load static %}
<!-- Javascript -->
<script src="{% static '/js/jquery/jquery-2.1.0.min.js' %}"></script>
<script src="{% static '/js/bootstrap/bootstrap.js' %}"></script>
<script src="{% static '/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static '/js/plugins/stat/jquery-easypiechart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static '/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
<script src="{% static '/js/queen-common.js' %}"></script>
