{% extends 'layout.html' %}

{% block body %}
    <body class="static-tables">

    <!-- WRAPPER -->
    <div class="wrapper">
        <div class="container-fluid">
            <!-- TOP BAR -->
            {% include "partials/nav.html" %}

            <!-- END TOP BAR -->
            <div class="row">
                <div class="col-lg-2 col-left">
                    <!-- LEFT CONTENT -->
                    <div class="left-content">
                        <nav id="main-nav" class="main-nav">

                            <h3>MAIN</h3>
                            <ul class="main-menu">
                                <li class="active"><a href="/dashboard"><i class="icon ion-ios7-speedometer"></i><span
                                        class="text">Dashboard</span></a></li>
                                <li><a href="/activity"><i class="icon ion-clipboard"></i><span class="text">Accounts activity</span></a>
                                </li>
                                <li class="has-submenu">
                                    <a href="#" class="submenu-toggle"><i class="icon ion-android-note"></i><span
                                            class="text">Transfers</span></a>
                                    <ul class="list-unstyled sub-menu collapse">
                                        <li><a href="/transfer"><span class="text">Make a transfer</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-10 col-right ">
                    <div class="right-content">
                        <!-- MAIN CONTENT -->
                        <div class="main-content">
                            <div class="primary-content">
                                <div class="heading clearfix">
                                    <h2>ACCOUNTS ACTIVITY</h2>
                                    <ul class="breadcrumb pull-left">
                                        <li><i class="icon ion-home"></i><a href="/dashboard">Home</a></li>
                                        <li><a href="#">Accounts activity</a></li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <form method="POST" class="form-horizontal" role="form" action="/activity/detail">
                                        <label class="col-md-2 control-label"
                                               style=" padding-top: 7px; text-align: center;">Account</label>
                                        <div class="input-group">
                                            <select name="number" class="form-control">
                                                {% for cash_account in cashAccounts %}
                                                    <option {% if cash_account.number == actualCashAccountNumber %}
                                                        selected="selected"{% endif %} value="{{ cash_account.number }}"
                                                        label="{{ cash_account.number }} ({{ cash_account.description }}) "/>
                                                {% endfor %}
                                            </select>
                                            <span class="input-group-btn"><button type="submit" class="btn btn-primary">Go</button></span>
                                        </div>
                                    </form>
                                </div>

                                <div class="widget">
                                    <div class="widget-header clearfix">
                                        <h3><i class="icon ion-clipboard"></i>
                                            <span>ACTIVITY SUMARY | {{ actualCashAccountNumber }}</span></h3>
                                    </div>
                                    <div class="widget-content">
                                        <table class="table table-bordered  colored-header">
                                            <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Description</th>
                                                <th>Deposits</th>
                                                <th>Withdrawals</th>
                                                <th>Ending Balance</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for transfer in firstCashAccountTransfers %}
                                                <tr>
                                                    <td>{% now "d-m-Y" %}</td>
                                                    <td>{{ transfer.description }}</td>

                                                    {% if transfer.amount > 0 %}
                                                        <td>+{{ transfer.amount }} EUR</td>
                                                        <td></td>
                                                    {% endif %}

                                                    {% if transfer.amount < 0 %}
                                                        <td></td>
                                                        <td>{{ transfer.amount }} EUR</td>
                                                    {% endif %}

                                                    <td>{% if transfer.availableBalance > 0 %}+{% endif %}{{ transfer.availableBalance }} EUR</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
                <!-- END MAIN CONTENT -->
            </div>
        </div>

    </div>
    <div class="left-content-bg col-md-2"></div>
    <!-- END WRAPPER -->
    {% include "partials/javascript.html" %}

    </body>
    <style>
        table {
            table-layout: fixed;
        }

        table th, table td {
            overflow: hidden;
        }

        .fa-logo {
            color: #fff;
            font-size: 18px;
        }

        .logo-text {
            color: #fff;
            font-family: 'Oswald';
            font-size: 16px;
        }

        .top-bar .logged-user {
            padding-top: 3px;
        }
    </style>

{% endblock %}
